<% days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday",
           "Saturday"] %>
<p>
  Time <br />
  <select id="hour">
    <% for hour in 0...24 %>
      <option value="<%= hour %>"><%= hour %></option>
    <% end %>
  </select>
  :
  <select id="minute">
    <% for minute in 0...60 %>
      <option value="<%= minute %>"><%= minute %></option>
    <% end %>
  </select>
</p>

<p>
  Description <br />
  <input id="description" type="text"></input>
</p>

<table id="cal_table" class="table table-bordered">
  <tr>
    <th><a href="javascript:calendar.setDate(-1, 0);">&lt;&lt;</a></th>
    <th><a href="javascript:calendar.setDate(0, -1);">&lt;</a></th>
    <th colspan="3" id="month">January 2013</th>
    <th><a href="javascript:calendar.setDate(0, 1);">&gt;</a></th>
    <th><a href="javascript:calendar.setDate(1, 0);">&gt;&gt;</a></th>
  </tr>
  <tr>
    <% for day in days %>
      <th><%= day %></th>
    <% end %>
  </tr>

  <% for cell in 0...42 %>
    <% if (cell % 7) == 0 %>
      <tr>
    <% end %>
      <td id="<%= "cell_#{cell}" %>"></td>
    <% if ((cell + 1) % 7) == 0 %>
      </tr>
    <% end %>
  <% end %>

</table>
